<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>O app precisa acessar sua galeria para salvar e organizar as fotos da câmera no álbum Cybershota.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>O app precisa de permissão para salvar fotos e vídeos da sua câmera na galeria.</string>
</dict>
</plist>
